* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--principal);
}

:root {
    --principal: black;
    --secundario: rgb(0, 0, 0);
    --letras: rgb(30, 241, 231);
}

header {
    width: 100%;
    background-color: var(--letras);
    display: flex;
    align-items: center;
}

#search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 50px;
    color: black;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

#search:focus {
    background-color: var(--principal);
    color: var(--letras);
    outline: none;
}

.filtro {
    display: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies img {
    width: 300px;
    aspect-ratio: 1/1.2;
    object-fit: contain;
}

.movie img {
    width: 300px;
    aspect-ratio: 1/1.2;
    object-fit: contain;
}

.soloSaga img {
    width: 300px;
    aspect-ratio: 1/1.2;
    object-fit: contain;
}

/*#content {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-content: center;
}

/*----------------------MOBILE----------------------*/
/*----------------------MOBILE----------------------*/
/*----------------------MOBILE----------------------*/
/*----------------------MOBILE----------------------*/
/*----------------------MOBILE----------------------*/
@media (max-width: 375px) {
    #search {
        margin-left: 1rem;
    }

    header {
        flex-direction: column;
    }
}